name: Issue Template Enforcement
on:
  issues:
    types: [opened, edited]

jobs:
  auto_close_issues:
    if: github.repository == 'BrycensRanch/gpu-screen-recorder-git-copr'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Automatically close issues that don't follow the issue template
        uses: lucasbento/auto-close-issues@v1.0.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          issue-close-message: "@${issue.user.login}: hello! :wave:\n\nThis issue is being automatically closed because it does not follow the issue template. No worries, it will reopen provided you edit the issue to follow the template.\n\nPlease make sure to fill out all required sections of the issue template so we can better assist you. Thank you for your understanding! :pray:"
          closed-issues-label: "invalid"